+++
title = "XLT Documentation"
linkTitle = "XLT Documentation"
+++



{{< blocks/cover title="XLT Documentation" image_anchor="top" height="auto">}}
<div class="mx-auto">
    <p class="lead mt-5">
            Here you go the adventure on Sqlite together with XiaoMing and James.
    </p>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="getting-started/" target="_blank">
		GO <i class="fas fa-download ml-2 "></i>
	</a>	
</div>
<section class="row">
{{% blocks/feature3 icon="fa fa-play-circle" title="Getting Started" url="getting-started/" %}}
it's portable, fast, and works offline—perfect for small to medium-scale apps.
-Ideal for mobile apps, desktop apps, and projects with light traffic or single-user scenarios.
-Great choice for prototyping, testing, and development. 
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fa fa-book" title="Fundamentals" url="fundamentals" %}}
Dive into how sqlite3 works, how sqlite3 compare with other databases, and how to create the databases.
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fa fa-tools" title="Creating and Managing" url="creating-and-managing-databases" %}}
1.Create a database, create tables, and manage databases.
2. Choose appropriate data types, constraints, and indexes.
3. alter tables such as adding columns, dropping columns, and renaming tables.{{% /blocks/feature3 %}}
</section>
{{< /blocks/cover >}}

{{< blocks/section color="dark" type="features" >}}
{{% blocks/feature3 icon="fa-database" title="Working with Data" url="working-with-data/"%}}
Here you fill find how to insert, update, delete, query data and filter result data in your SQLite database.
{{% /blocks/feature3 %}}

{{% blocks/feature3 icon="fa fa-cogs" title="Advanced Queries" url="advanced-querying/" %}}
Learn how to use operators, sorting results, grouping and aggregating results, union and intersecting results in SQLite.
{{% /blocks/feature3 %}}

{{% blocks/feature3 icon="fa fa-edit" title="Data Modification" url="data-modification/" %}}
How to update data, delete data and truncate data in SQLite.
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fab fa-edit" title="Contributions welcome!" %}}
You can contribute to [XLT](https://github.com/Xceptance/XLT/) as well as to [this documentation](https://github.com/Xceptance/xlt-documentation/) via issues and pull requests. Please don't hesitate to make the tool and its documentation better. 
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fab fa-twitter" title="Follow us on Twitter!" %}}
You can find information about updates and interesting reads in the [Twitter channel of Xceptance](https://twitter.com/Xceptance).
{{% /blocks/feature3 %}}
{{< /blocks/section >}}