//
// Left side navigation
//
.td-sidebar-nav {
    padding-right: 0.5rem;
    margin-right: -15px;
    margin-left: -15px;

    @include media-breakpoint-up(md) {
        @supports (position: sticky) {
            max-height: calc(100vh - 10rem);
            overflow-y: auto;
        }
    }

    @include media-breakpoint-up(md) {
        display: block !important;
    }

    &__section {
        background-color: darkgray;

        /* 添加背景颜色 */
        li {
            list-style: none;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        @include media-breakpoint-up(md) {
            &>ul {
                padding-left: .5rem;
            }
        }

        padding-left: 0;
    }

    &__section-title {
        display: block;
        font-weight: $font-weight-medium;
        color: $white;
        /* 设置标题颜色为白色 */

        .active {
            font-weight: $font-weight-bold;
            font-size: 1.2em;
            /* 增加字体大小 */
        }

        a {
            color: $white;
            /* 设置链接颜色为白色 */
        }
    }

    .td-sidebar-link {
        display: block;
        padding-bottom: 0.375rem;
        color: $white;
        /* 设置链接颜色为白色 */

        &__page {
            color: $gray-300;
            /* 设置页面链接颜色为浅灰色 */
            font-weight: $font-weight-light;
        }

        &.active {
            font-size: 1.3em;
            /* 增加字体大小 */
        }
    }

    a {
        &:hover {
            color: $blue;
            /* 设置悬停颜色 */
            text-decoration: none;
        }

        &.active {
            font-weight: $font-weight-bold;
            font-size: 1.3em;
            /* 增加字体大小 */
        }
    }

    .dropdown {
        a {
            color: $white;
            /* 设置下拉链接颜色为白色 */
        }

        .nav-link {
            padding: 0 0 1rem;
        }
    }

    &>.td-sidebar-nav__section {
        padding-top: .5rem;
        padding-left: 1.5rem;
    }
}

.td-sidebar {
    @include media-breakpoint-up(md) {
        padding-top: 4rem;
        background-color: #333;
        /* 设置背景颜色为深灰色 */
        padding-right: 1rem;
        border-right: 1px solid $blue;
        /* 设置边框颜色为蓝色 */
    }

    padding-bottom: 1rem;

    &__toggle {
        line-height: 1;
        color: $white;
        /* 设置切换按钮颜色为白色 */
        margin: 1rem;
    }

    &__search {
        padding: 1rem 15px;
        margin-right: -15px;
        margin-left: -15px;
        background-color: #444;
        /* 设置搜索框背景颜色为更深的灰色 */
    }

    &__inner {
        order: 0;

        @include media-breakpoint-up(md) {
            @supports (position: sticky) {
                position: sticky;
                top: 4rem;
                z-index: 10;
                height: calc(100vh - 6rem);
            }
        }

        @include media-breakpoint-up(xl) {
            flex: 0 1 320px;
        }

        .td-search-box {
            width: 100%;
        }
    }

    #content-desktop {
        display: block;
    }

    #content-mobile {
        display: none;
    }

    @include media-breakpoint-down(md) {
        #content-desktop {
            display: none;
        }

        #content-mobile {
            display: block;
        }
    }
}